<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/auth.css" rel="stylesheet" type="text/css" />

<form action="#" method="post" class="login-form">
  <div class="form-title">
    <h1>Login</h1>
  </div>
  <div class="email-section">
    <label for="email">Email:</label>
    <input
      type="text"
      id="email-inpt"
      name="email"
      placeholder="Enter email..."
      required
    />
  </div>
  <div class="pwd-section">
    <label for="pwd">Password:</label>
    <input
      type="password"
      id="pwd-inpt"
      name="pwd"
      placeholder="Enter password..."
      required
    />
  </div>
  <div class="controls-section">
    <input type="submit" value="Login" id="login-inpt" />
    <a href="/register">Register</a>
  </div>
  <p style="color: coral">
    <% if (locals.errorMsg) {%> <%= locals.errorMsg %> <% } %>
  </p>
</form>
