body {
  margin: 0;
  padding: 0;
}

.main_holder {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.main {
  background-color: gray;
  flex: 1;
  margin-top: 3em;
  padding: 1em;
}

.welcome-text-holder {
  float: left;
  width: 59%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.5em;
  background-color: lime;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.banner-left {
  float: left;
  width: 10%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.banner-right {
  float: left;
  width: 10%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.labels {
  float: left;

  display: flex;
  flex-direction: column;
  text-align: right;

  line-height: 1.35;
}

.forms {
  margin-left: 1em;
  float: left;
}
