<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <script type="module" src="../static/js/loginUtils.js"></script>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form id="loginForm" action="login_handler.php" method="POST">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <div class="controls">
          <button type="button" id="loginBtn" onclick="loginModule.logIn()">
            Login
          </button>
          <button
            type="button"
            id="registerBtn"
            onclick="loginModule.register()"
          >
            Register
          </button>
        </div>
      </form>
      <p id="output"></p>
    </div>
  </body>
  <script type="module">
    import loginModule from "../static/js/loginUtils.js";
    import localStorageModule from "../static/js/localStorageMgr.js";
    window.loginModule = loginModule;

    const message = localStorageModule.getMsg(localStorageModule.REDIRECTMSG);
    if (message) {
      document.getElementById("output").innerHTML = message;
      localStorageModule.delMsg(localStorageModule.REDIRECTMSG);
    }
  </script>
</html>
