.about-wrapper>.frame>h1 {
    font-size: 50px !important;
}

.about-wrapper>.frame>p {
    font-size: 25px !important;
    color: var(--color-font);
}

.frame {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 1rem;
    width: 45%;
}