.lobby-main {
  display: flex;
  flex-direction: column;
  gap: 1svh;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
}

.testBtn {
  width: 100px;
}

.buildingBtn {
  width: 170px;
}

.buildings-container {
  min-height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
}
