/*#region links*/

a {
  color: white;
  text-decoration: none;
}

/*
 a:hover {
  color: lightblue;
  text-decoration: none;
  font-size: 30px;
} */
/*#endregion*/

html {
  height: 100%;
}

body {
  background-image: url("/resources/pictures/bg.jpg");
  background-size: 100%;
  /* background-repeat: no-repeat; */
  background-position: top center;

  margin: 0;
  padding: 0;

  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/*#region header*/
div.header {
  color: white;

  max-width: 100%;

  border-style: solid;
  border-radius: 45px 15px;

  padding-left: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;

  background: rgb(204, 204, 204, 0.3);

  text-align: center;

  font-size: 40px;
}

div.header a {
  line-height: 1.8;
}

div.header a:hover {
  background-color: rgb(0, 140, 255, 0.65);
  border-style: solid rgb(0, 125, 175);
  border-radius: 15px;

  padding: 0.25%;

  box-shadow: 2px 2px 40px 10px rgb(0, 140, 255);
  transition: 0.3s ease;
}
/*#endregion*/

/*#region body*/

div.body {
  position: absolute;
  height: 100%;
}

/*#region navPane*/
div.navPane {
  float: left;

  color: white;

  width: 15%;

  background: rgb(204, 204, 204, 0.3);

  border-style: solid;
  border-radius: 45px 15px;
  padding: 3%;
  margin-top: 2%;
  margin-left: 2%;

  font-size: 20px;
}

div.navPane a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 2px 2px 40px 10px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
  padding: 5%;
}
/*#endregion*/

/*#region main_preview*/
div.main_preview {
  float: right;

  color: white;

  width: 75%;

  background: rgb(204, 204, 204, 0.3);

  border-style: solid;
  border-radius: 15px 45px;

  padding: 3%;

  margin-top: 2%;
  margin-right: 2%;
}

div.main_preview a {
  display: block;
}

/*#region game_preview1-9 */
div.game_preview1 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview2 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview2:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview3 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview3:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview4 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview4:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview5 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview5:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview6 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview6:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview7 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview7:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview8 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-right: 12%;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview8:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}

div.game_preview9 {
  float: left;
  width: 25%;
  height: 30%;
  border-style: solid;
  border-radius: 15px;
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div.game_preview9:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 187, 233);

  box-shadow: 4px 4px 40px 25px rgb(0, 140, 255);
  transition: 0.3s ease;

  border-style: solid;
  border-radius: 15px;
}
/*#endregion*/

/*#region game_preview_image_holder*/
div.game_preview_image_holder {
  text-align: center;
}

div.game_preview_information {
  font-size: 22px;

  padding-left: 15%;
  padding-right: 15%;
}
/*#endregion*/

/*#endregion*/

/*#endregion*/

/*#region footer*/
div.footer_holder {
  position: absolute;
  bottom: 0;

  width: 100%;
}

div.footer {
  display: flex;
  justify-content: space-between;

  color: white;
  background: rgb(204, 204, 204, 0.3);

  font-weight: bold;

  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.5%;

  padding-left: 2%;
  padding-right: 2%;

  border-radius: 15px 45px;
  border-style: solid;
}

div.footer a:hover {
  background-color: rgba(90, 93, 95, 0.65);
  border-style: solid rgb(0, 125, 175);
  border-radius: 15px;

  box-shadow: 2px 2px 40px 10px rgb(90, 93, 95);
  transition: 0.3s ease;
}

/*#endregion*/
